body {
	font-family: cursive;
	color: #2191b2;
	background-color: 
}

.navbar-inverse {
	background-color: #b21845;

}

.navbar-inverse .navbar-brand {
	color:white;
}

.jumbotron {
	margin-top: 50px;
	background-image: url("../static/images/drumbar-wider-shot.PNG");
	background-size: cover;
	height:500px;
	color:white;
	text-shadow: 2px 2px #b21845;
	text-align: center;
	border: 2px solid #2191b2;
	border-radius: 10px;

}
.jumbotron h1 {
	font-size: 70px;
}

.jumbotron p {
	font-size: 40px;

}

img {
    float: left;
    margin: 0 0 10px 10px;
}


.navbar-inverse .navbar-nav>li>a {
	color:white;
}

.panel-default .panel-heading  {
	background-color: #b21845;
	color: white; 
	height: 40px;
}

.panel-default .panel-heading h3 {
	font-size: 30px;
}

.panel-heading {
	padding-top: 1px;
    padding-bottom: 70px;
    text-align: center;
}

#drumbar-old {
	float: left;
	margin-right: 15px;

	border: 1px solid #b21845;
}

iframe {
	align-items: center;
}
footer {
	margin-top: 50px;
}

@media all and (max-width: 300px) {
    #img-coaching { display: none; }
}

